@import './base.css';

/* .navbar{
    box-shadow: 0 3px 9px 3px rgb(0, 0, 0, 0.1);
}
.navbar-brand span{
    letter-spacing: 2px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: palevioletred !important;
}
.nav-item{
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.05);
} */
